body{
    font-family: 'Outfit', sans-serif;
}

.background{
    height: 100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background: radial-gradient(circle at top left,
    #fff1b5, #ffe680, #ffd54f, #ffc400);
}


.toggle-container{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.mode-text{
    font-weight:bold;
}

/
.switch{
    position:relative;
    display:inline-block;
    width:60px;
    height:30px;
}

.switch input{
    opacity:0;
}

.slider{
    position:absolute;
    background:#ffd54f;
    border-radius:30px;
    width:100%;
    height:100%;
}

.slider:before{
    content:"";
    position:absolute;
    height:22px;
    width:22px;
    background:white;
    border-radius:50%;
    left:4px;
    top:4px;
}

input:checked + .slider:before{
    transform:translateX(30px);
}


.calculator{
    background:white;
    padding:20px;
    border-radius:20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
#display{
    width:100%;
    height:50px;
    font-size:24px;
    text-align:right;
    margin-bottom:10px;
    border:none;
    background:#fff7cc;
    border-radius:10px;
}

#history{
    height:60px;
    font-size:14px;
    color:gray;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,60px);
    gap:10px;
}

.equal{
    grid-column: span 2;
    background:#ffd54f;
}

.signature{
    margin-top:30px;
    font-weight:bold;
}
